# npm
node_modules/

# Composer
vendor/

# File log
*.log

empTmp
*.tmp
*.temp

# IDE/Editor
.idea/
.vscode/
nbproject/

# System MacOS
.DS_Store
Thumbs.db

# PHPStorm
/.idea/

# Composer
composer.lock

# public/uploads/
# application/cache/
# system/language/cache/

# Debug files
*.stackdump
